name: Python Autotests

on:
  workflow_dispatch:
    inputs:
      deployment_target:
        description: Choose tests set
        required: true
        type: choice
        default: All
        options:
          - All
          - UI
          - API

permissions:
  contents: read
  actions: read
  pages: write
  id-token: write

jobs:
  run-tests:
    name: Run autotests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout autotests
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Install Playwright browsers
        if: github.event.inputs.deployment_target != 'API'
        run: playwright install --with-deps

      - name: Run all tests
        if: github.event.inputs.deployment_target == 'All'
        env:
          API_TOKEN: ${{ secrets.API_TOKEN }}
        run: pytest --alluredir=allure-results
        continue-on-error: true

      - name: Run API tests
        if: github.event.inputs.deployment_target == 'API'
        env:
          API_TOKEN: ${{ secrets.API_TOKEN }}
        run: pytest -m api --alluredir=allure-results
        continue-on-error: true

      - name: Run UI tests
        if: github.event.inputs.deployment_target == 'UI'
        env:
          API_TOKEN: ${{ secrets.API_TOKEN }}
        run: pytest -m ui --alluredir=allure-results
        continue-on-error: true

      - name: Upload allure results
        uses: actions/upload-artifact@v4
        with:
          name: allure-results
          path: allure-results
          retention-days: 10

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: microsoft
          java-version: "21"

      - name: Install Allure
        run: |
          wget https://github.com/allure-framework/allure2/releases/download/2.34.0/allure-2.34.0.tgz
          tar -zxvf allure-2.34.0.tgz
          sudo mv allure-2.34.0 /opt/allure
          sudo ln -s /opt/allure/bin/allure /usr/bin/allure

      - name: Generate Allure report
        run: allure generate allure-results -c -o _site

      - name: Upload Allure report
        uses: actions/upload-artifact@v4
        with:
          name: _site
          path: _site
          retention-days: 10

  publish-report:
    name: Publish report to GitHub Pages
    runs-on: ubuntu-latest
    needs: run-tests

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: _site

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
